<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cover Template for Bootstrap</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/cover.css" rel="stylesheet">
</head>

<body>

<div id="app" class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Data Center</h3>
                    <ul class="nav masthead-nav">
                        <li @click="toCharge"><a href="#">Charge</a></li>
                        <li class="active"><a href="#">Account</a></li>
                    </ul>
                </div>
            </div>
            <div class="inner cover" style="overflow: scroll; max-height: 600px">
                <form onsubmit="return false;" class="form-inline" role="form" style="margin-bottom: 20px">
                    <div class="form-group">
                        <label for="inputPassword2" class="sr-only">Password</label>
                        <input type="text" class="form-control" id="inputPassword2" v-model="filter" placeholder="filter">
                    </div>
                    <button @click="onFilter" class="btn btn-default">filter</button>
                    <button @click="total" class="btn btn-default">total</button>
                    <button @click="onRefresh" class="btn btn-default">refresh</button>
                </form>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>server_id</th>
                        <th>role_id</th>
                        <th>name</th>
                        <th>platform</th>
                        <th>log_time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in show_data" style="cursor: pointer" @click="toDetail(item.server_id, item.role_id)">
                        <td>{{item.server_id}}</td>
                        <td>{{item.role_id}}</td>
                        <td style="max-width: 100px">{{item.name}}</td>
                        <td>{{item.platform}}</td>
                        <td>{{formatTime(item.log_time)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Created by <a href="#">HuSong</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/vue.min.js"></script>
<script src="static/vue-resource.min.js"></script>
<script>
    const URL_ACCOUNT = "/api/account-info";
</script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            charge_data:[],
            show_data:[],
            filter:""
        },
        ready: function() {
            this.onRefresh();
        },
        methods: {
            onRefresh: function() {
                var _this = this;
                this.charge_data = [];
                this.show_data = [];
                this.$http.get(URL_ACCOUNT).then(function(response){
                    _this.charge_data = response.body;
                    _this.onFilter();
                }, function(response){

                })
            },
            formatTime:function(time) {
                var date = new Date(time * 1000);
                var hour = date.getHours();
                hour = hour < 10 ? "0" + hour: hour.toString();
                var minutes = date.getMinutes();
                minutes = minutes < 10? "0" + minutes : minutes.toString();
                var month = date.getMonth() + 1;
                var day = date.getDay();
                return month + "-" + day + "    " + hour + ":" + minutes;
            },
            total:function() {
                alert("total is " + this.show_data.length);
            },
            onFilter() {
                if(this.filter == "" || this.filter == null) {
                    this.show_data = this.charge_data;
                    return;
                }
                try {
                    var filter = JSON.parse(this.filter);
                    console.log(filter);
                    this.show_data = this.charge_data.filter(function(item){
                        var condition = true;
                        for(var k in filter) {
                            console.log(item[k].toString());
                            if(item[k].toString() != filter[k].toString()) {
                                condition = false;
                            }
                        }
                        return condition
                    });
                }
                catch (e) {
                    alert("filter error");
                    console.log(e);
                }
            },
            toCharge: function() {
                window.location.href = "/";
            },
            toDetail(server_id, role_id) {
                window.location.href = "/templateIndex?role_id=" + role_id + "&server_id=" + server_id;
            }
        }
    })
</script>
</body>
</html>
